body {
	background: black;
	text-align:center;
	font-family: Arial;
}
h1 {
	color: white;
}
#container {
	width: 960px;
	margin: 0 auto;
}

#header {
	margin-top: 10px;
}
ul.jams li {
	text-align:center;
	padding: 30px;
	width: 100%;
	margin: 10px;
	display:none;
}

ul.jams li.chili {
	display:block;
}

.title,
.artist,
.via {
	background: rgba(0,0,0,0.4);
	color: white;
	display: none;
}

#social {
	position: absolute;
	top: 10px;
	right: 10px;
}
